/* assets/css/admin.css */
.wrap.yprint-designtool {
    margin: 20px;
}

.yprint-designtool h1 {
    color: #23282d;
    font-size: 24px;
    margin-bottom: 20px;
}

.yprint-info-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}